name: Build and Deploy Website

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install mdbook
        run: |
          cargo install mdbook

      - name: Build Book
        run: |
          cd glow-control-website/book
          mdbook build

      - name: Copy Book to Website
        run: |
          cp -r glow-control-website/book/book glow-control-website/website

      - name: Build and Run Project
        run: |
          cd glow-control-website
          cargo run -- website glowcontrol-rs-website
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.WEBSITE_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.WEBSITE_AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: 'us-east-1'

